<footer>
    <div class="f-info">
        <div class="f-info-socials">
           <a target="_blank" href="https://www.facebook.com/rjempire26/"><i class="fa-brands fa-square-facebook"></i></a>
           <a target="_blank" href="https://www.instagram.com/_bunnyy__26_/"> <i class="fa-brands fa-instagram"></i></a>
            <a target="_blank" href="https://www.linkedin.com/in/rahul-jha-0663b91bb/"> <i class="fa-brands fa-linkedin"></i></a> 
            <a target="_blank" href="https://github.com/Rahul260801"> <i class="fa-brands fa-github"></i></a> 
        </div>
        <div class="f-info-brand">&copy; WanderLust Private Limited</div>
        <div class="f-info-Links">
            <!-- <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a> -->
            <a href="#">Privacy</a> &sdot;
             <a href="#">Terms</a> &sdot;
        </div>
            <div class="ftr-akash">
                <p> Made by - Rahul Jha</p>
            </div>
        </div>
    </div>
</footer>